.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #348dfc;
  height: 80px;
  padding: 0px 30px 0px 30px;
}

.header__title {
  font-size: 40px;
  text-decoration: none;
  color: white;
}

.chart-options {
  display: flex;
  justify-content: center;
  margin: 30px;
}

.chart-options__buttons {
  display: flex;
  justify-content: space-around;
  width: 40%;
}

.chart-options-button {
  width: 8em;
  height: 3em;
  font-size: 15px;
  background-color: #10bb07;
  padding: 2px;
  color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #7b7b7b;

  &:hover {
    cursor: pointer;
    background-color: #7b7b7b;
  }
}
